[Unit]
Description=CEC Remote Service
After=multi-user.target

[Service]
ExecStart=/home/${currentUser}/cecremotestart.sh

[Install]
WantedBy=multi-user.target
